[submodule "simple-salesforce"]
	path = simple-salesforce
	url = https://github.com/simple-salesforce/simple-salesforce.git
[submodule "ds-integration"]
	path = ds-integration
	url = https://github.com/DefenseStorm/ds-integration.git
